{% extends 'layout/jquery.html.twig' %}

{% block body %}

    <h3>Battle</h3>

    <div id="game_battle" class="row">

        <div class="slot-player player-2">
            <div class="player-login">player 2</div>
            <div class="player-profile"></div>
            <br class="clearfix" />
            <br class="clearfix" />


            <div class="slot-cards"> </div>
        </div>

        <div class="slot-player battle-board"></div>

        <div class="slot-player player-1">
            <div class="player-login">player 1</div>
            <div class="player-profile"></div>
            <br class="clearfix" />
            <br class="clearfix" />

            <div class="slot-cards"></div>
        </div>

    </div>

{% endblock %}