#analyzer_sentence{
  width: 100%;
  height: 800px;
  padding: 10px;
}

label.required{
  display: none;
}

#analyzer_save{
  float: right;
}

.tab-pane{
  background: #555;
  color: white;
  padding: 10px;
}