$toto: white;

body {
    background-color: $toto;
    padding: 10px;
}

#analyzer_sentence{
    width: 100%;
    height: 800px;
    padding: 10px;
}

label.required{
    display: none;
}

#analyzer_save{
    float: right;
}

.tab-pane{
    background: #555;
    color: white;
    padding: 10px;
}

/*


@for $i from 0 through 12 {
    .spade-#{$i + 1} {
        background: url(/build/images/jeu-carte-1280x715.png) -#{1 + $i * $cardSize}px (-429px);
    }
    .diamond-#{$i + 1} {
        background: url(/build/images/jeu-carte-1280x715.png) -#{2 + $i * $cardSize}px (-143px);
    }
    .heart-#{$i + 1} {
        background: url(/build/images/jeu-carte-1280x715.png) -#{3 + $i * $cardSize}px (-286px);
    }
    .club-#{$i + 1} {
        background: url(/build/images/jeu-carte-1280x715.png) -#{4 + $i * $cardSize}px 0;
    }
}
 */