{% extends 'layout/bootstrap.html.twig' %}

{% block body %}

    <h2>Drag cards easy</h2>
    <div class="drag-poker-easy row" style="padding-left: 200px;">
        <ul class="row cards-sortable">
            {% for card in poker.cards.package|slice(0, 10) %}
                <!--div id="card-container-{{ loop.index }}" class="card-container"-->
                    <li id="card-{{ loop.index }}" class="card {{ card }}" attr-value="{{ card }}"></li>
                <!--/-div-->
            {% endfor %}
        </ul>
    </div>


{% endblock %}
