{% extends 'base.html.twig' %}

{% block body %}

    <h2>LAB</h2>
    <div class="row">
        <ul>
            <li><a href="/analyzer">Analyzer</a></li>
            <li><a href="/poker">Poker</a></li>
        </ul>
    </div>

{% endblock %}