{% extends 'base.html.twig' %}

{% block body %}

    <h2>LAB</h2>
    <div class="row">
        <ul>
            <li><a href="{{ path('analyzer') }}">Analyzer</a></li>
            <li><a href="{{ path('home_card') }}">Jeu de Cartes</a></li>
        </ul>
    </div>

{% endblock %}