<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/angular.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body id="{{ app.request.uri|replace({'http://www.lab.com/': "page-", "/": "-"})  }}">
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
        <script src="{{ asset('build/angular.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
