{% extends 'base.html.twig' %}

{% block body %}
    <h2>Poker Sommaire</h2>
    <div class="row">
        <ul>
            <li><a href="/poker/universe">Universe</a></li>
            <li><a href="/poker/check">What is this game ?</a></li>
            <li><a href="/poker/drag/easy">Drag cards (easy)</a></li>
            <li><a href="/poker/drag/hard">Drag cards (hard)</a></li>
        </ul>
    </div>
{% endblock %}